<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>Your profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info" *ngIf="editForm.dirty">
      <p>
        <strong>Information: </strong>You have made changes. Any unsaved changes
        will be lost.
      </p>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <img
        src="{{ member.photoUrl || './assets/user.png' }}"
        alt="{{ member.knownAs }}"
        class="card-img-top img-thumbnail"
      />
      <div class="card-body">
        <div class="">
          <strong>Location:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{ member.age }}</p>
        </div>
        <div>
          <strong>Last active:</strong>
          <p>{{ member.lastActive }}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{ member.created }}</p>
        </div>
      </div>
      <div class="card-footer">
        <button
          class="btn btn-success col-12"
          [disabled]="!editForm.dirty"
          form="editForm"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
  <div class="col-8">
    <ul class="nav member-tabset">
      <li class="nav-tabs">
        <a
          class="nav-link active"
          id="about-tab"
          data-bs-toggle="tab"
          data-bs-target="#about"
          type="button"
          role="tab"
          aria-controls="about"
          aria-selected="true"
        >
          About {{ member.knownAs }}
        </a>
      </li>
      <li class="nav-tabs">
        <a
          class="nav-link"
          id="photos-tab"
          data-bs-toggle="tab"
          data-bs-target="#photos"
          type="button"
          role="tab"
          aria-controls="photos"
          aria-selected="false"
        >
          Edit Photos
        </a>
      </li>
    </ul>
    <div class="tab-content member-tab-content">
      <div
        class="tab-pane fade show active member-tabset"
        id="about"
        aria-labelledby="about-tab"
      >
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
          <h4 class="mt-2">Description</h4>
          <textarea
            name="introduction"
            class="form-control"
            [(ngModel)]="member.introduction"
            rows="6"
          ></textarea>
          <h4 class="mt-2">Looking for</h4>
          <textarea
            name="lookingFor"
            class="form-control"
            [(ngModel)]="member.lookingFor"
            rows="6"
          ></textarea>
          <h4 class="mt-2">Interests</h4>
          <textarea
            name="interests"
            class="form-control"
            [(ngModel)]="member.interests"
            rows="6"
          ></textarea>
          <h4 class="mt-2">Location Details:</h4>
          <div class="d-flex flex-row align-items-center">
            <label for="city">City: </label>
            <input
              type="text"
              [(ngModel)]="member.city"
              name="city"
              class="form-control mx-2"
            />
            <label for="city">Country: </label>
            <input
              type="text"
              [(ngModel)]="member.country"
              name="country"
              class="form-control mx-2"
            />
          </div>
        </form>
      </div>
      <div class="tab-pane fade" id="photos" aria-labelledby="photos-tab">
        <app-photo-editor [member]="member"></app-photo-editor>
      </div>
    </div>
  </div>
</div>
